# Quantitative Value Strategy
"Value investing" means investing in the stocks that are cheapest relative to common measures of business value (like earnings or assets).

For this project, we're going to build an investing strategy that selects the 50 stocks with the best value metrics. From there, we will calculate recommended trades for an equal-weight portfolio of these 50 stocks.

## Library Imports
The first thing we need to do is import the open-source software libraries that we'll be using in this tutorial.

In [1]:
import numpy as np #The Numpy numerical computing library
import pandas as pd #The Pandas data science library
import requests #The requests library for HTTP requests in Python
import xlsxwriter #The XlsxWriter libarary for 
import math #The Python math module
from scipy import stats #The SciPy stats module

## Importing Our List of Stocks & API Token
As before, we'll need to import our list of stocks and our API token before proceeding. Make sure the .csv file is still in your working directory and import it with the following command:

In [2]:
stocks = pd.read_csv('sp_500_stocks.csv')
from secrets import IEX_CLOUD_API_TOKEN

## Making Our First API Call
It's now time to make the first version of our value screener!

We'll start by building a simple value screener that ranks securities based on a single metric (the price-to-earnings ratio).

In [3]:
symbol = 'AAPL'
api_url = f'https://sandbox.iexapis.com/stable/stock/{symbol}/quote?token={IEX_CLOUD_API_TOKEN}'
data = requests.get(api_url).json()
data

{'symbol': 'AAPL',
 'companyName': 'Apple Inc',
 'primaryExchange': 'AQNADS',
 'calculationPrice': 'close',
 'open': 0,
 'openTime': None,
 'openSource': 'acffoiil',
 'close': 0,
 'closeTime': None,
 'closeSource': 'ffaoicli',
 'high': 0,
 'highTime': None,
 'highSource': None,
 'low': 0,
 'lowTime': None,
 'lowSource': None,
 'latestPrice': 154.91,
 'latestSource': 'Close',
 'latestTime': 'August 12, 2021',
 'latestUpdate': 1662935656268,
 'latestVolume': None,
 'iexRealtimePrice': 150.96,
 'iexRealtimeSize': 76,
 'iexLastUpdated': 1666330602945,
 'delayedPrice': None,
 'delayedPriceTime': None,
 'oddLotDelayedPrice': None,
 'oddLotDelayedPriceTime': None,
 'extendedPrice': None,
 'extendedChange': None,
 'extendedChangePercent': None,
 'extendedPriceTime': None,
 'previousClose': 151.64,
 'previousVolume': 48821211,
 'change': 3.11,
 'changePercent': 0.02176,
 'volume': None,
 'iexMarketPercent': 24.43702278240165,
 'iexVolume': 1154724,
 'avgTotalVolume': 75741938,
 'iexBidPrice': 0,
 'iexBidSize': 0,
 'iexAskPrice': 0,
 'iexAskSize': 0,
 'iexOpen': 154.96,
 'iexOpenTime': 1659084945937,
 'iexClose': 149.296,
 'iexCloseTime': 1647161493097,
 'marketCap': 2514077741751,
 'peRatio': 29.57,
 'week52High': 154.42,
 'week52Low': 105.32,
 'ytdChange': 0.1546580822287726,
 'lastTradeTime': 1641959937772,
 'currency': 'USD',
 'isUSMarketOpen': False}

## Parsing Our API Call
This API call has the metric we need - the price-to-earnings ratio.

Here is an example of how to parse the metric from our API call:

In [4]:
pe_ratio = data['peRatio']
pe_ratio

29.57

## Executing A Batch API Call & Building Our DataFrame

Just like in our first project, it's now time to execute several batch API calls and add the information we need to our DataFrame.

We'll start by running the following code cell, which contains some code we already built last time that we can re-use for this project. More specifically, it contains a function called chunks that we can use to divide our list of securities into groups of 100.

In [5]:
# Function sourced from 
# https://stackoverflow.com/questions/312443/how-do-you-split-a-list-into-evenly-sized-chunks
def chunks(lst, n):
    """Yield successive n-sized chunks from lst."""
    for i in range(0, len(lst), n):
        yield lst[i:i + n]   
        
symbol_groups = list(chunks(stocks['Ticker'], 100))
symbol_strings = []
for i in range(0, len(symbol_groups)):
    symbol_strings.append(','.join(symbol_groups[i]))
#     print(symbol_strings[i])

my_columns = ['Ticker', 'Price', 'Price-to-Earnings Ratio', 'Number of Shares to Buy']

Now we need to create a blank DataFrame and add our data to the data frame one-by-one.

In [6]:
final_dataframe = pd.DataFrame(columns = my_columns)

for symbol_string in symbol_strings:
#     print(symbol_strings)
    batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch/?types=quote&symbols={symbol_string}&token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batch_api_call_url).json()
    for symbol in symbol_string.split(','):
        final_dataframe = final_dataframe.append(
                                        pd.Series([symbol, 
                                                   data[symbol]['quote']['latestPrice'],
                                                   data[symbol]['quote']['peRatio'],
                                                   'N/A'
                                                   ], 
                                                  index = my_columns), 
                                        ignore_index = True)
        
    
final_dataframe

    Ticker   Price Price-to-Earnings Ratio Number of Shares to Buy
0        A  163.52                   53.31                     N/A
1      AAL   20.53                   -2.11                     N/A
2      AAP  211.90                   22.46                     N/A
3     AAPL  153.63                    30.6                     N/A
4     ABBV  115.89                   32.29                     N/A
..     ...     ...                     ...                     ...
500    YUM  135.74                   31.29                     N/A
501    ZBH  146.94                   34.63                     N/A
502   ZBRA  575.40                    40.5                     N/A
503   ZION   56.02                     5.8                     N/A
504    ZTS  203.92                   51.98                     N/A

[505 rows x 4 columns]

## Removing Glamour Stocks

The opposite of a "value stock" is a "glamour stock". 

Since the goal of this strategy is to identify the 50 best value stocks from our universe, our next step is to remove glamour stocks from the DataFrame.

We'll sort the DataFrame by the stocks' price-to-earnings ratio, and drop all stocks outside the top 50.

In [7]:
final_dataframe.sort_values('Price-to-Earnings Ratio', inplace = True)
final_dataframe = final_dataframe[final_dataframe['Price-to-Earnings Ratio'] > 0]
final_dataframe = final_dataframe[:50]
final_dataframe.reset_index(inplace = True)
final_dataframe.drop('index', axis=1, inplace = True)

## Calculating the Number of Shares to Buy
We now need to calculate the number of shares we need to buy. 

To do this, we will use the `portfolio_input` function that we created in our momentum project.

I have included this function below.

In [8]:
def portfolio_input():
    global portfolio_size
    portfolio_size = input("Enter the value of your portfolio:")

    try:
        val = float(portfolio_size)
    except ValueError:
        print("That's not a number! \n Try again:")
        portfolio_size = input("Enter the value of your portfolio:")

Use the `portfolio_input` function to accept a `portfolio_size` variable from the user of this script.

In [9]:
portfolio_input()

Enter the value of your portfolio:10000

You can now use the global `portfolio_size` variable to calculate the number of shares that our strategy should purchase.

In [10]:
position_size = float(portfolio_size) / len(final_dataframe.index)
for i in range(0, len(final_dataframe['Ticker'])):
    final_dataframe.loc[i, 'Number of Shares to Buy'] = math.floor(position_size / final_dataframe['Price'][i])
final_dataframe

   Ticker   Price Price-to-Earnings Ratio Number of Shares to Buy
0     MPC   61.88                     5.1                       3
1     BIO  804.06                     5.8                       0
2    ZION   56.02                     5.8                       3
3     PRU  111.74                    6.16                       1
4      GM   56.29                    6.38                       3
5     AFL   58.21                    7.11                       3
6     COF  177.67                    7.24                       1
7    CINF  125.51                    7.28                       1
8      CE  170.27                    7.72                       1
9    VIAC   41.69                     7.8                       4
10    WHR  237.01                    7.89                       0
11      C   75.77                    7.97                       2
12     GS  416.00                    7.98                       0
13    UNM   28.69                    8.02                       6
14     RE  283.09                    8.23                       0
15     RF   21.59                    8.34                       9
16     DD   78.00                    8.54                       2
17    LYB  107.00                    8.65                       1
18    HRB   26.73                    8.77                       7
19    DFS  134.35                     8.9                       1
20    DGX  149.83                     8.9                       1
21    KEY   21.62                    9.06                       9
22    PHM   55.49                     9.2                       3
23    MOS   35.39                    9.29                       5
24    SYF   51.89                    9.37                       3
25     CI  212.02                    9.38                       0
26    COO  450.29                     9.4                       0
27    LNC   70.59                     9.8                       2
28    CMA   76.70                    9.87                       2
29      L   56.75                    9.95                       3
30    NRG   44.30                   10.03                       4
31    APA   19.29                   10.07                      10
32   HOLX   77.93                   10.09                       2
33    CTL   11.00                   10.09                      18
34    DHI   98.88                   10.16                       2
35    CFG   46.90                   10.23                       4
36    LEN  109.90                   10.39                       1
37     CB  182.16                   10.44                       1
38    PGR   98.58                   10.45                       2
39   FOXA   38.06                   10.52                       5
40     LH  310.60                   10.58                       0
41    TRV  163.97                   10.73                       1
42    ALL  138.39                   10.79                       1
43   DISH   43.84                   10.85                       4
44    JPM  169.03                   11.01                       1
45    HPQ   31.50                   11.13                       6
46    AIG   54.89                   11.26                       3
47    HII  209.74                    11.3                       0
48   REGN  613.00                    11.3                       0
49    MTB  142.20                   11.36                       1

## Building a Better (and More Realistic) Value Strategy
Every valuation metric has certain flaws.

For example, the price-to-earnings ratio doesn't work well with stocks with negative earnings.

Similarly, stocks that buyback their own shares are difficult to value using the price-to-book ratio.

Investors typically use a `composite` basket of valuation metrics to build robust quantitative value strategies. In this section, we will filter for stocks with the lowest percentiles on the following metrics:

* Price-to-earnings ratio
* Price-to-book ratio
* Price-to-sales ratio
* Enterprise Value divided by Earnings Before Interest, Taxes, Depreciation, and Amortization (EV/EBITDA)
* Enterprise Value divided by Gross Profit (EV/GP)

Some of these metrics aren't provided directly by the IEX Cloud API, and must be computed after pulling raw data. We'll start by calculating each data point from scratch.

In [11]:
symbol = 'AAPL'
batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch/?types=advanced-stats,quote&symbols={symbol}&token={IEX_CLOUD_API_TOKEN}'
data = requests.get(batch_api_call_url).json()

# P/E Ratio
pe_ratio = data[symbol]['quote']['peRatio']

# P/B Ratio
pb_ratio = data[symbol]['advanced-stats']['priceToBook']

#P/S Ratio
ps_ratio = data[symbol]['advanced-stats']['priceToSales']

# EV/EBITDA
enterprise_value = data[symbol]['advanced-stats']['enterpriseValue']
ebitda = data[symbol]['advanced-stats']['EBITDA']
ev_to_ebitda = enterprise_value/ebitda

# EV/GP
gross_profit = data[symbol]['advanced-stats']['grossProfit']
ev_to_gross_profit = enterprise_value/gross_profit

Let's move on to building our DataFrame. You'll notice that I use the abbreviation `rv` often. It stands for `robust value`, which is what we'll call this sophisticated strategy moving forward.

In [12]:
rv_columns = [
    'Ticker',
    'Price',
    'Number of Shares to Buy', 
    'Price-to-Earnings Ratio',
    'PE Percentile',
    'Price-to-Book Ratio',
    'PB Percentile',
    'Price-to-Sales Ratio',
    'PS Percentile',
    'EV/EBITDA',
    'EV/EBITDA Percentile',
    'EV/GP',
    'EV/GP Percentile',
    'RV Score'
]

rv_dataframe = pd.DataFrame(columns = rv_columns)

for symbol_string in symbol_strings:
    batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch?symbols={symbol_string}&types=quote,advanced-stats&token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batch_api_call_url).json()
    for symbol in symbol_string.split(','):
        enterprise_value = data[symbol]['advanced-stats']['enterpriseValue']
        ebitda = data[symbol]['advanced-stats']['EBITDA']
        gross_profit = data[symbol]['advanced-stats']['grossProfit']
        
        try:
            ev_to_ebitda = enterprise_value/ebitda
        except TypeError:
            ev_to_ebitda = np.NaN
        
        try:
            ev_to_gross_profit = enterprise_value/gross_profit
        except TypeError:
            ev_to_gross_profit = np.NaN
            
        rv_dataframe = rv_dataframe.append(
            pd.Series([
                symbol,
                data[symbol]['quote']['latestPrice'],
                'N/A',
                data[symbol]['quote']['peRatio'],
                'N/A',
                data[symbol]['advanced-stats']['priceToBook'],
                'N/A',
                data[symbol]['advanced-stats']['priceToSales'],
                'N/A',
                ev_to_ebitda,
                'N/A',
                ev_to_gross_profit,
                'N/A',
                'N/A'
        ],
        index = rv_columns),
            ignore_index = True
        )

## Dealing With Missing Data in Our DataFrame

Our DataFrame contains some missing data because all of the metrics we require are not available through the API we're using. 

You can use pandas' `isnull` method to identify missing data:

In [13]:
rv_dataframe[rv_dataframe.isnull().any(axis=1)]

,Ticker,Price,Number of Shares to Buy,Price-to-Earnings Ratio,PE Percentile,Price-to-Book Ratio,PB Percentile,Price-to-Sales Ratio,PS Percentile,EV/EBITDA,EV/EBITDA Percentile,EV/GP,EV/GP Percentile,RV Score
28,ALXN,185.50,N/A,61.84,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
40,AON,275.00,N/A,None,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
71,BRK.B,304.64,N/A,None,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
118,CTL,12.00,N/A,10.03,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
136,DISCK,28.21,N/A,None,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
165,ETFC,49.84,N/A,14.59,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
186,FLIR,58.84,N/A,33.02,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
190,FOX,34.99,N/A,None,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
204,GOOG,2873.48,N/A,None,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
326,MYL,16.03,N/A,31.56,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
327,NBL,8.54,N/A,-0.76,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
348,NWS,23.88,N/A,None,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
442,TROW,218.20,N/A,None,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A
452,UA,22.60,N/A,None,N/A,None,N/A,None,N/A,NaN,N/A,NaN,N/A,N/A

Dealing with missing data is an important topic in data science.

There are two main approaches:

* Drop missing data from the data set (pandas' `dropna` method is useful here)
* Replace missing data with a new value (pandas' `fillna` method is useful here)

In this tutorial, we will replace missing data with the average non-`NaN` data point from that column. 

Here is the code to do this:

In [14]:
for column in ['Price-to-Earnings Ratio', 'Price-to-Book Ratio','Price-to-Sales Ratio',  'EV/EBITDA','EV/GP']:
    rv_dataframe[column].fillna(rv_dataframe[column].mean(), inplace = True)

Now, if we run the statement from earlier to print rows that contain missing data, nothing should be returned:

In [15]:
rv_dataframe[rv_dataframe.isnull().any(axis=1)]

Empty DataFrame
Columns: [Ticker, Price, Number of Shares to Buy, Price-to-Earnings Ratio, PE Percentile, Price-to-Book Ratio, PB Percentile, Price-to-Sales Ratio, PS Percentile, EV/EBITDA, EV/EBITDA Percentile, EV/GP, EV/GP Percentile, RV Score]
Index: []

## Calculating Value Percentiles

We now need to calculate value score percentiles for every stock in the universe. More specifically, we need to calculate percentile scores for the following metrics for every stock:

* Price-to-earnings ratio
* Price-to-book ratio
* Price-to-sales ratio
* EV/EBITDA
* EV/GP

Here's how we'll do this:

In [16]:
metrics = {
            'Price-to-Earnings Ratio': 'PE Percentile',
            'Price-to-Book Ratio':'PB Percentile',
            'Price-to-Sales Ratio': 'PS Percentile',
            'EV/EBITDA':'EV/EBITDA Percentile',
            'EV/GP':'EV/GP Percentile'
}

for row in rv_dataframe.index:
    for metric in metrics.keys():
        rv_dataframe.loc[row, metrics[metric]] = stats.percentileofscore(rv_dataframe[metric], rv_dataframe.loc[row, metric])/100

# Print each percentile score to make sure it was calculated properly
for metric in metrics.values():
    print(rv_dataframe[metric])

#Print the entire DataFrame    
rv_dataframe

0      0.867327
1      0.081188
2      0.427723
3      0.576238
4      0.613861
         ...
500    0.615842
501    0.683168
502    0.764356
503    0.089109
504    0.841584
Name: PE Percentile, Length: 505, dtype: object
0       0.79604
1      0.045545
2       0.49802
3      0.958416
4       0.89703
         ...
500    0.041584
501    0.316832
502    0.827723
503    0.094059
504    0.926733
Name: PB Percentile, Length: 505, dtype: object
0      0.833663
1      0.063366
2      0.156436
3      0.788119
4      0.560396
         ...
500    0.755446
501    0.566337
502     0.69703
503    0.379208
504    0.908911
Name: PS Percentile, Length: 505, dtype: object
0      0.891089
1      0.031683
2      0.314851
3      0.738614
4       0.30297
         ...
500    0.722772
501    0.681188
502    0.849505
503    0.043564
504     0.89703
Name: EV/EBITDA Percentile, Length: 505, dtype: object
0      0.857426
1      0.071287
2      0.138614
3      0.887129
4      0.465347
         ...
500    0.691089
501    0.407921
502    0.758416
503    0.112871
504    0.910891
Name: EV/GP Percentile, Length: 505, dtype: object

,Ticker,Price,Number of Shares to Buy,Price-to-Earnings Ratio,PE Percentile,Price-to-Book Ratio,PB Percentile,Price-to-Sales Ratio,PS Percentile,EV/EBITDA,EV/EBITDA Percentile,EV/GP,EV/GP Percentile,RV Score
0,A,162.93,N/A,55.13,0.867327,10.21,0.79604,8.5300,0.833663,33.704090,0.891089,16.165457,0.857426,N/A
1,AAL,21.40,N/A,-2.12,0.081188,-1.81,0.045545,0.7265,0.063366,-4.593929,0.031683,1.870546,0.071287,N/A
2,AAP,215.70,N/A,23.56,0.427723,3.99,0.49802,1.2900,0.156436,11.558005,0.314851,2.817841,0.138614,N/A
3,AAPL,154.23,N/A,29.42,0.576238,39.12,0.958416,7.1900,0.788119,23.485562,0.738614,17.835530,0.887129,N/A
4,ABBV,119.30,N/A,31.77,0.613861,16.86,0.89703,4.0000,0.560396,11.147423,0.30297,7.662415,0.465347,N/A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
500,YUM,133.89,N/A,31.78,0.615842,-5.00,0.041584,6.5600,0.755446,23.070851,0.722772,10.914961,0.691089,N/A
501,ZBH,151.50,N/A,34.99,0.683168,2.45,0.316832,4.0600,0.566337,20.321343,0.681188,6.761756,0.407921,N/A
502,ZBRA,594.40,N/A,40.80,0.764356,12.00,0.827723,6.0700,0.69703,28.858518,0.849505,12.734043,0.758416,N/A
503,ZION,56.33,N/A,5.56,0.089109,1.20,0.094059,2.6300,0.379208,4.325739,0.043564,2.415913,0.112871,N/A
504,ZTS,202.39,N/A,50.53,0.841584,22.51,0.926733,12.8600,0.908911,34.855053,0.89703,19.259888,0.910891,N/A

## Calculating the RV Score
We'll now calculate our RV Score (which stands for Robust Value), which is the value score that we'll use to filter for stocks in this investing strategy.

The RV Score will be the arithmetic mean of the 4 percentile scores that we calculated in the last section.

To calculate arithmetic mean, we will use the mean function from Python's built-in statistics module.

In [17]:
from statistics import mean

for row in rv_dataframe.index:
    value_percentiles = []
    for metric in metrics.keys():
        value_percentiles.append(rv_dataframe.loc[row, metrics[metric]])
    rv_dataframe.loc[row, 'RV Score'] = mean(value_percentiles)
    
rv_dataframe

,Ticker,Price,Number of Shares to Buy,Price-to-Earnings Ratio,PE Percentile,Price-to-Book Ratio,PB Percentile,Price-to-Sales Ratio,PS Percentile,EV/EBITDA,EV/EBITDA Percentile,EV/GP,EV/GP Percentile,RV Score
0,A,162.93,N/A,55.13,0.867327,10.21,0.79604,8.5300,0.833663,33.704090,0.891089,16.165457,0.857426,0.849109
1,AAL,21.40,N/A,-2.12,0.081188,-1.81,0.045545,0.7265,0.063366,-4.593929,0.031683,1.870546,0.071287,0.058614
2,AAP,215.70,N/A,23.56,0.427723,3.99,0.49802,1.2900,0.156436,11.558005,0.314851,2.817841,0.138614,0.307129
3,AAPL,154.23,N/A,29.42,0.576238,39.12,0.958416,7.1900,0.788119,23.485562,0.738614,17.835530,0.887129,0.789703
4,ABBV,119.30,N/A,31.77,0.613861,16.86,0.89703,4.0000,0.560396,11.147423,0.30297,7.662415,0.465347,0.567921
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
500,YUM,133.89,N/A,31.78,0.615842,-5.00,0.041584,6.5600,0.755446,23.070851,0.722772,10.914961,0.691089,0.565347
501,ZBH,151.50,N/A,34.99,0.683168,2.45,0.316832,4.0600,0.566337,20.321343,0.681188,6.761756,0.407921,0.531089
502,ZBRA,594.40,N/A,40.80,0.764356,12.00,0.827723,6.0700,0.69703,28.858518,0.849505,12.734043,0.758416,0.779406
503,ZION,56.33,N/A,5.56,0.089109,1.20,0.094059,2.6300,0.379208,4.325739,0.043564,2.415913,0.112871,0.143762
504,ZTS,202.39,N/A,50.53,0.841584,22.51,0.926733,12.8600,0.908911,34.855053,0.89703,19.259888,0.910891,0.89703

## Selecting the 50 Best Value StocksÂ¶

As before, we can identify the 50 best value stocks in our universe by sorting the DataFrame on the RV Score column and dropping all but the top 50 entries.

In [18]:
rv_dataframe.sort_values(by = 'RV Score', inplace = True)
rv_dataframe = rv_dataframe[:50]
rv_dataframe.reset_index(drop = True, inplace = True)

## Calculating the Number of Shares to Buy
We'll use the `portfolio_input` function that we created earlier to accept our portfolio size. Then we will use similar logic in a for loop to calculate the number of shares to buy for each stock in our investment universe.

In [19]:
portfolio_input()

Enter the value of your portfolio:10000

In [20]:
position_size = float(portfolio_size) / len(rv_dataframe.index)
for i in range(0, len(rv_dataframe['Ticker'])-1):
    rv_dataframe.loc[i, 'Number of Shares to Buy'] = math.floor(position_size / rv_dataframe['Price'][i])
rv_dataframe

C:\Users\Martin\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

,Ticker,Price,Number of Shares to Buy,Price-to-Earnings Ratio,PE Percentile,Price-to-Book Ratio,PB Percentile,Price-to-Sales Ratio,PS Percentile,EV/EBITDA,EV/EBITDA Percentile,EV/GP,EV/GP Percentile,RV Score
0,UNM,28.27,7,8.06,0.112871,0.5220,0.047525,0.4274,0.027723,3.547715,0.039604,0.418613,0.009901,0.047525
1,PRU,108.46,1,6.17,0.093069,0.6910,0.051485,0.6632,0.053465,4.601108,0.047525,0.650044,0.013861,0.051881
2,AAL,21.40,9,-2.12,0.081188,-1.8100,0.045545,0.7265,0.063366,-4.593929,0.031683,1.870546,0.071287,0.058614
3,AIV,6.85,29,-76.27,0.017822,1.9800,0.259406,-31.4900,0.00198,-43.201292,0.005941,-53.352897,0.007921,0.058614
4,L,58.23,3,10.28,0.160396,0.8057,0.061386,1.0031,0.09505,5.349173,0.061386,0.959387,0.027723,0.081188
5,MCK,199.82,1,-7.03,0.065347,-59.7600,0.009901,0.1298,0.007921,8.393375,0.184158,2.882032,0.140594,0.081584
6,LNC,73.45,2,10.00,0.144554,0.6300,0.049505,0.6975,0.059406,7.686692,0.142574,0.681487,0.015842,0.082376
7,RE,282.78,0,8.39,0.116832,1.0900,0.083168,1.0006,0.093069,7.107964,0.112871,0.981619,0.029703,0.087129
8,BA,244.96,0,-15.94,0.049505,-8.4600,0.035644,2.3600,0.339604,-33.113678,0.009901,-225.017404,0.00198,0.087327
9,MET,63.15,3,13.21,0.215842,0.8004,0.059406,0.7944,0.075248,6.067780,0.071287,0.787994,0.019802,0.088317
10,AIG,54.13,3,11.25,0.176238,0.7201,0.053465,1.0700,0.117822,5.469505,0.063366,1.032071,0.031683,0.088515
11,GM,55.30,3,6.35,0.09505,1.6000,0.177228,0.5885,0.037624,2.559225,0.035644,2.237769,0.09901,0.088911
12,ALL,141.22,1,11.01,0.174257,1.5600,0.165347,0.8363,0.077228,2.619136,0.037624,0.832549,0.021782,0.095248
13,APA,19.00,10,10.26,0.158416,-7.4500,0.039604,1.2100,0.141584,4.866394,0.051485,2.315496,0.10099,0.098416
14,VIAC,41.77,4,7.80,0.106931,1.3400,0.128713,1.0170,0.09901,7.667936,0.140594,1.476986,0.053465,0.105743
15,TAP,50.59,3,-20.72,0.033663,0.8162,0.063366,1.0500,0.106931,7.170734,0.124752,4.245077,0.221782,0.110099
16,HIG,68.45,2,12.05,0.20396,1.3600,0.132673,1.1000,0.124752,5.318946,0.055446,1.154335,0.037624,0.110891
17,T,28.72,6,-95.54,0.013861,1.2800,0.107921,1.1400,0.130693,6.795535,0.09901,3.955947,0.217822,0.113861
18,C,74.51,2,7.91,0.110891,0.8220,0.065347,1.9000,0.279208,4.755172,0.049505,1.877076,0.073267,0.115644
19,HPQ,31.50,6,11.34,0.180198,-11.1900,0.029703,0.5990,0.043564,8.042746,0.168317,3.288767,0.162376,0.116832
20,TRV,159.91,1,10.91,0.170297,1.4000,0.139604,1.1900,0.135644,7.091213,0.110891,1.146807,0.035644,0.118416
21,AFL,59.40,3,6.98,0.09703,1.1400,0.087129,1.6700,0.233663,7.114830,0.114851,2.001026,0.087129,0.12396
22,XOM,57.65,3,-18.87,0.041584,1.5800,0.170297,1.1600,0.132673,10.212896,0.261386,1.424674,0.047525,0.130693
23,F,14.00,14,16.95,0.281188,1.6100,0.182178,0.4080,0.023762,4.105097,0.041584,2.729057,0.132673,0.132277
24,PFG,70.30,2,12.00,0.20099,1.1600,0.089109,1.3300,0.167327,8.501552,0.188119,1.331323,0.045545,0.138218
25,CVS,86.95,2,16.08,0.261386,1.5800,0.170297,0.4046,0.021782,8.729715,0.2,1.461424,0.049505,0.140594
26,FTI,7.25,27,20.91,0.376238,0.9008,0.067327,0.3322,0.015842,4.352403,0.045545,3.741051,0.205941,0.142178
27,UAL,49.05,4,-2.66,0.075248,3.1200,0.409901,1.1000,0.124752,-4.629701,0.027723,1.958146,0.077228,0.14297
28,ZION,56.33,3,5.56,0.089109,1.2000,0.094059,2.6300,0.379208,4.325739,0.043564,2.415913,0.112871,0.143762
29,ALK,60.80,3,-12.44,0.055446,2.2600,0.29703,1.9300,0.281188,-4.597741,0.029703,1.725286,0.063366,0.145347
30,HCA,243.65,0,17.47,0.29505,-132.0100,0.00396,1.3900,0.186139,8.574161,0.190099,1.950029,0.075248,0.150099
31,COF,183.53,1,7.11,0.09901,1.2800,0.107921,2.6100,0.374257,5.322459,0.057426,2.455001,0.116832,0.151089
32,GS,420.00,0,7.70,0.10495,1.5300,0.158416,2.2900,0.328713,5.339777,0.059406,2.347857,0.10495,0.151287
33,AIZ,170.24,1,22.45,0.411881,1.6700,0.19604,0.9931,0.091089,2.112110,0.033663,0.948134,0.025743,0.151683
34,UHS,156.05,1,11.92,0.19802,1.9500,0.253465,1.0600,0.112871,7.930814,0.156436,1.321420,0.043564,0.152871
35,CINF,126.99,1,7.20,0.10099,1.6700,0.19604,2.1000,0.308911,5.590881,0.065347,2.147104,0.09505,0.153267
36,GL,97.96,2,13.79,0.219802,1.2000,0.094059,2.0400,0.3,6.328443,0.077228,1.989721,0.083168,0.154851
37,WRK,53.11,3,-21.35,0.027723,1.2500,0.10099,0.7657,0.071287,8.366453,0.180198,6.534997,0.39802,0.155644
38,MRO,12.90,15,-18.16,0.045545,0.9448,0.075248,2.5000,0.360396,7.038791,0.108911,3.899965,0.213861,0.160792
39,CI,212.89,0,9.64,0.136634,1.4700,0.148515,0.4302,0.029703,10.726603,0.287129,3.651559,0.20198,0.160792
40,HFC,30.28,6,25.93,0.489109,0.9211,0.069307,0.3721,0.019802,7.037273,0.106931,2.471238,0.118812,0.160792
41,WHR,231.00,0,7.89,0.108911,3.0300,0.391089,0.6856,0.057426,6.310902,0.075248,3.585104,0.19802,0.166139
42,PRGO,43.34,4,-24.51,0.023762,1.0025,0.079208,1.2100,0.141584,11.369252,0.308911,5.087404,0.291089,0.168911
43,CFG,45.60,4,10.17,0.154455,0.9263,0.071287,2.8600,0.409901,6.189782,0.073267,2.765739,0.136634,0.169109
44,KSS,57.82,3,22.86,0.421782,1.8000,0.228713,0.5000,0.035644,6.853581,0.10297,1.591981,0.059406,0.169703
45,OXY,27.61,7,-4.67,0.069307,3.0200,0.388119,1.3300,0.167327,6.026753,0.069307,3.275867,0.160396,0.170891
46,RF,21.24,9,8.20,0.114851,1.3000,0.116832,3.0100,0.439604,5.250208,0.053465,2.753379,0.134653,0.171881
47,KEY,21.49,9,9.07,0.128713,1.2500,0.10099,2.7300,0.40099,6.861538,0.10495,2.695714,0.128713,0.172871
48,PHM,56.86,3,8.81,0.126733,2.0500,0.273267,1.2100,0.141584,6.752564,0.09703,4.512773,0.229703,0.173663
49,SYF,51.75,N/A,9.59,0.134653,2.2100,0.290099,1.8800,0.274257,6.435476,0.081188,2.099925,0.091089,0.174257

## Formatting Our Excel Output

We will be using the XlsxWriter library for Python to create nicely-formatted Excel files.

XlsxWriter is an excellent package and offers tons of customization. However, the tradeoff for this is that the library can seem very complicated to new users. Accordingly, this section will be fairly long because I want to do a good job of explaining how XlsxWriter works.

In [21]:
writer = pd.ExcelWriter('value_strategy.xlsx', engine='xlsxwriter')
rv_dataframe.to_excel(writer, sheet_name='Value Strategy', index = False)

## Creating the Formats We'll Need For Our .xlsx File
You'll recall from our first project that formats include colors, fonts, and also symbols like % and $. We'll need four main formats for our Excel document:

* String format for tickers
* \$XX.XX format for stock prices
* \$XX,XXX format for market capitalization
* Integer format for the number of shares to purchase
* Float formats with 1 decimal for each valuation metric

Since we already built some formats in past sections of this course, I've included them below for you. Run this code cell before proceeding.

In [22]:
background_color = '#0a0a23'
font_color = '#ffffff'

string_template = writer.book.add_format(
        {
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

dollar_template = writer.book.add_format(
        {
            'num_format':'$0.00',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

integer_template = writer.book.add_format(
        {
            'num_format':'0',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

float_template = writer.book.add_format(
        {
            'num_format':'0',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

percent_template = writer.book.add_format(
        {
            'num_format':'0.0%',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

In [23]:
column_formats = {
                    'A': ['Ticker', string_template],
                    'B': ['Price', dollar_template],
                    'C': ['Number of Shares to Buy', integer_template],
                    'D': ['Price-to-Earnings Ratio', float_template],
                    'E': ['PE Percentile', percent_template],
                    'F': ['Price-to-Book Ratio', float_template],
                    'G': ['PB Percentile',percent_template],
                    'H': ['Price-to-Sales Ratio', float_template],
                    'I': ['PS Percentile', percent_template],
                    'J': ['EV/EBITDA', float_template],
                    'K': ['EV/EBITDA Percentile', percent_template],
                    'L': ['EV/GP', float_template],
                    'M': ['EV/GP Percentile', percent_template],
                    'N': ['RV Score', percent_template]
                 }

for column in column_formats.keys():
    writer.sheets['Value Strategy'].set_column(f'{column}:{column}', 25, column_formats[column][1])
    writer.sheets['Value Strategy'].write(f'{column}1', column_formats[column][0], column_formats[column][1])

## Saving Our Excel Output
As before, saving our Excel output is very easy:

In [24]:
writer.save()